<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ordering_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ordering_System.My.MySettings.ConnectionString" connectionString="Dsn=Mysql MangTinapay Database"
            providerName="System.Data.Odbc" />
        <add name="Ordering_System.My.MySettings.ConnectionString1" connectionString="Dsn=Mysql Mang Tinapay Database;uid=rod;pwd=mangtinapaychoco"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Ordering_System.My.MySettings>
            <setting name="serverdb" serializeAs="String">
                <value>192.168.1.19</value>
            </setting>
            <setting name="userdb" serializeAs="String">
                <value>rod</value>
            </setting>
            <setting name="passdb" serializeAs="String">
                <value>mangtinapaychoco</value>
            </setting>
            <setting name="namedb" serializeAs="String">
                <value>mangtinapay</value>
            </setting>
            <setting name="myuserid" serializeAs="String">
                <value />
            </setting>
        </Ordering_System.My.MySettings>
    </userSettings>
</configuration>
